

.Todo {
    display: flex;
    margin:0 -3rem 4px;
    padding: 1.1rem;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
}
.TodoItem {
    position: relative;
    transition: opacity 0.4s linear;
}

.TodoItem complete {
    opacity: 0.6;
}



.Todo-edit-form input{
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
    height: 2rem;
}

.Todo-edit-form button {
    padding: 0 1.3rem;
    border: none;
    background: #8ae4f2;
    color: white;
    font-weight: bold;
    border: 1px soild rgba(255,255,255,0.2);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.2s ease-out;
    height: 2rem;
}

.Todo-edit-form button:hover{
    background: #52cbde;
}

.Todo-buttons button{
    border: none;
    font-size: 1em;
    margin: 0.4em;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #fff;
}
.TodoItem.complete:before{
    content: "";
    position: absolute;
    top:50%;
    left:-0.5rem;
    display: block;
    width: 0%;
    height:1.5px;
    background: #fff;
    animation: strikeitem 0.5s ease-out 0s forwards;
}

@keyframes strikeitem{
    to{
        width: calc(100% + 1rem);
    }
}